.email-verification{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-Link{
    color: rgb(48, 48, 48) !important;
}

.hamburger-menu {
    display: none; 
    cursor: pointer;
    padding: 10px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
  }
  
  .navbar {
      display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
    width: 100%; 
    overflow-x: hidden; 
}

.left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px 0px 10px;
  }
  
  .nav-item {
    margin-right: 5px;
    color: rgb(90, 90, 90);
}

.nav-button {
    padding-right: 20px; 
}

.right {
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

.logo {
    max-width: 150px;
  }
  
  .nav-button {
      max-width: 100px;
      padding: 15px;
      font-size: 16px;
    }
    input[type='text']{
    max-width: 80%;
  }
  
  @media (max-width: 768px) {
    .hamburger-menu {
      display: block; /* Show on mobile devices */
    }
    
    .sidebar {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #f9f9f9;
      border-right: 1px solid #ccc;
      padding: 20px;
    }
    
    .sidebar .nav-item {
      margin-bottom: 10px;
    }
    .navbar {
        flex-direction: column;
        align-items: stretch; 
      }
  
      .email-verification{
          max-width: 80%;
      }
      input[type='text']{
          max-width: 90%;
        }
  }

  
  