/* src/components/LoginPage.css */

.login-container {
  max-width: 90%; /* Adjusting container width for better mobile responsiveness */
  margin: 25%;
}

  
  .login-form {
    display: flex;
    flex-direction: column;
  }

  .error{
    color:red;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  .form-group1 {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  
  .first, .last{
    max-width: 45%;
  }

  label {
    font-weight: bold;
  }
  .loginUrl{
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 30px;
  }
  a{
    color: #4133a1;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    padding: 10px;
    font-size: 16px;
    background-color: #f3f3f3 ;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }

  input[type='checkbox']{
    background-color: #f3f3f3 ;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 20px;
    font-size: 20px;
    width: 300px;
    border: none;
    border-radius: 10px;
    background-color: #ea4b8b;
    color: #ffff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #a90044;
  }

  .terms{
    color:rgb(129, 129, 129);
  }
  
  .rightSide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  
  .leftSideImg{
    width: auto;
    height: 100%;
  }
  .Logo{
    max-width: 250px;
    margin-left: 30px;
  }
  .signup1-main{
    display: flex;
    height: 100vh;
  }
  .header{
    display: flex;
    width: 100%;
  }
  .signup2-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
  }
  .signup2-container{
    max-width: 100%; /* Adjusting container width for better mobile responsiveness */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .avatar-container{
    display: block;
  }
  .fileSelector{
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin-top: 20px;
  }
  .uploadBtn{
    margin-top: 10px;
    padding:10px;
    font-size: 14px;
  }
  .btncontainer {
    flex-direction: column; 
    align-items: center; 
    margin-top: 20px; 
  }
  
  .step2Btn {
    width: 100%; 
    margin-top: 10px; 
  }
  .step2h2{
    margin-top: 30px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    padding: 20px;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .optionImg {
    position: relative;
    transition: transform 0.3s ease-in-out;
    max-width: 80%;
  }
  
  .card.hovered .optionImg {
    max-width: 100%;
    transform: translateY(-50px);
  }
  
  .signup3-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .signup3-container {
    max-width: 90% !important;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .card.selected {
    border: 3px solid red;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    transition: border-color 0.3s ease-in-out;
    margin-bottom: 20px;
  }

  
  .cardContent {
    color: black;
    font-size: 16px;
    font-weight: bold;
  }

  .signup1-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .leftSide {
    display: none; 
  }
  
  .rightSide {
    width: 100%;
  }

  @media (max-width: 768px){
    .form2{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .card-container{
      margin-bottom: 10px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .leftSide {
      display: block;
      width: 50%;
    }
  
    .rightSide {
      width: 50%;
    }
    .avatar-container{
      display: flex;
      justify-content: space-between;
    }
    .btncontainer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding:20px;
      margin-top: 20px;
    }
    .step2Btn {
      width: 45%; 
      margin-top: 10px; 
    }
    .signup2-container{
      max-width: 60% !important;
    }
    .card{
      max-width: 30%;
    }
    .card-container{
      flex-direction: row;
    }
    .first,.last{
      max-width: 100%;
    }
    
  }
  
  